@media screen and (min-width:781px){
    header {
        padding: 10px 4% 0 4%;
        height: 70px;
    }
    
    .logo {
        display: inline-block;
        width: 50%;
        letter-spacing: 0.2px;
        font-size: 40px;
    }

    .penguin {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .menu {
        width: 49%;
    }
    
    .menu li {
        font-size: 40px;
    }

    .index_container {
        height: 555px;
    }

    #english {
        font-size: 120px;
    }

    #japanese {
        font-size: 70px;
    }

    .top_container {
        height: 555px;
    }

    .lists {    
        display: inline-block;
        width: 33%;
    }

    .circle {
        width: 300px;
        height: auto;
        font-size: 50px;
        line-height: 300px;
        margin: 120px auto;
    }

    .main_container {
        height: 635px;
        letter-spacing: -1em;
    }

    .factor {
        letter-spacing: 0;
        width: 33%;
        display: inline-block;
    }

    .english {
        padding: 240px 0 20px 0;
    }

    .japanese {
        font-size: 40px;
        letter-spacing: 5px;
        text-align: center;
    }

    .contents {
        height: 100%;
        width: 67%;
    }

    .discription {
        height: 70%;
        font-size: 40px;
        padding: 250px 100px 0 100px;
        letter-spacing: 5px;
    }

    .vertical {
        display: none;
    }

    .vertical {
        display: none;
    }

    footer {
        height: 60px;
        padding-top: 20px;
    }

    .blogs_top {
        font-size: 100px;
        padding: 150px 50px;
    }

    .contact_contents {
        margin: 50px 10% 0 10%;
    }

    .contact_part {
        height: 200px;
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }

    .your_information {
        margin-top: 30px;
    }

    .contact_title {
        padding-top: 50px;
        height: 150px;
        text-align: center;
        font-size: 100px;
        font-family: 'Londrina Shadow', cursive;
        font-weight: bold;
    }

    .contact_discription {
        padding: 0 50px;
    }
}
    
@media screen and (max-width: 767px) {
    header {
        padding: 10px 4%;
        height: 50px;
    }

    .logo {
        display: inline-block;
        width: 54%;
        letter-spacing: 0.2px;
        font-size: 30px;
    }

    .top_logo {
        display: none;
    }

    .penguin {
        width: 40px;
        height: 40px;
    }

    .menu {
        width: 45%;
    }

    .menu li {
        font-size: 30px;
    }

    .index_container {
        height: 600px;
    }

    #english {
        font-size: 120px;
    }

    #japanese {
        font-size: 50px;
    }

    .top_container {
        height: 600px;
    }

    .lists {
        display: inline-block;
        width: 32%;
    }

    .circle {
        width: 200px;
        height: auto;
        font-size: 40px;
        line-height: 200px;
        margin: 150px auto;
    }

    .main_container {
        height: 667px;
        letter-spacing: -1em;
    }

    .factor {
        letter-spacing: 0;
        width: 100%;
        height: 20%;
        display: inline-block;
    }

    .english {
        padding: 50px 0 20px 0;
    }

    .japanese {
        font-size: 40px;
        letter-spacing: 5px;
        text-align: center;
    }

    .contents {
        height: 66%;
        width: 100%;
        margin-top: 40px;
    }

    .discription {
        height: 66%;
        font-size: 40px;
        padding: 150px 50px 0 50px;
        letter-spacing: 5px;
    }

    .tablet_discription {
        text-align: center;
        background-color:rgba(255,255,255,0.5);
        font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
        height: 66%;
        font-size: 35px;
        padding: 120px 50px 40px 50px;
        letter-spacing: 5px;
    }

    .horizontal {
        display: none;
    }

    footer {
        height: 50px;
        padding-top: 15px;
    }

    .blogs_top {
        font-size: 100px;
        padding: 100px 50px;
    }

    .contact_contents {
        margin: 50px 10% 0 10%;
    }

    .contact_part {
        height: 200px;
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }

    .your_information {
        margin-top: 30px;
    }

    .contact_title {
        padding-top: 20px;
        height: 100px;
        text-align: center;
        font-size: 80px;
        font-family: 'Londrina Shadow', cursive;
        font-weight: bold;
    }

    .contact_discription {
        padding: 50px 50px 0 50px;
    }
}

@media screen and (max-width: 479px) {
    header {
        padding: 10px 10px;
        height: 50px;
    }

    .logo {
        display: inline-block;
        width: 7%;
    }

    .top_logo {
        display: none;
    }

    .penguin {
        width: 30px;
        height: 30px;
    }

    .menu {
        width: 91%;
    }

    .menu li {
        font-size: 30px;
    }

    .index_container {
        height: 600px;
    }

    #english {
        padding-top: 20%;
        font-size: 80px;
    }

    #japanese {
        padding-top: 10%;
        font-size: 40px;
    }

    .top_container {
        height: 580px;
        padding-top: 30px;
    }

    .lists {
        width: 100%;
        height: 200px
    }

    .circle {
        width: 150px;
        height: auto;
        margin: 0 auto;
        font-size: 30px;
        line-height: 150px;
    }

    .main_container {
        height: 667px;
        letter-spacing: -1em;
    }

    .factor {
        letter-spacing: 0;
        width: 100%;
        height: 20%;
        display: inline-block;
    }

    .english {
        padding: 50px 0 20px 0;
    }

    .japanese {
        font-size: 40px;
        letter-spacing: 5px;
        text-align: center;
    }

    .contents {
        height: 66%;
        width: 100%;
        margin-top: 40px;
    }

    .discription {
        height: 66%;
        font-size: 20px;
        padding: 150px 20px 0 20px;
        letter-spacing: 5px;
    }

    .tablet_discription {
        text-align: center;
        background-color:rgba(255,255,255,0.5);
        font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
        height: 66%;
        font-size: 20px;
        padding: 115px 20px;
        letter-spacing: 5px;
    }

    footer {
        height: 50px;
        padding-top: 15px;
    }

    .blogs_top {
        font-size: 80px;
        padding: 200px 0 0 0;
    }

    .contact_contents {
        margin: 20px 10% 0 10%;
    }

    .contact_part {
        height: 120px;
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }

    .your_information {
        margin-top: 0;
    }

    .contact_discription {
        font-size: 15px;
        padding: 20px 20px;
    }
}
